.contact-button {
  position: relative;
  background: linear-gradient(90deg, #f1652c 0%, #f78606 100%);
  border-radius: 0.5rem;
  border: 0;
  padding: 0.5rem 1rem;
  color: #fff;
  outline: none;
  transition: all .4s linear;
  cursor: pointer;
  font-size: 1rem;
  line-height: 1rem;
  font-weight: 500;
  height: 2.5rem;
  align-self: center;
}